### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
src/main/generated/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/log/ChecksumTests/indefiniteLengthWithChecksum/wire.log
/log/ChecksumTests/testCRC32/wire.log
/log/ChecksumTests/testCRC32_C/wire.log
/log/ChecksumTests/testSHA1/wire.log
/log/ChecksumTests/testSHA256/wire.log
/log/ConditionalRequestTests/thatConditionalPutIfMatchEtagWorks/error.log
/log/ConditionalRequestTests/thatConditionalPutIfMatchEtagWorks/wire.log
/log/ConditionalRequestTests/thatConditionalPutIfNoneMatchEtagWorks/error.log
/log/ConditionalRequestTests/thatConditionalPutIfNoneMatchEtagWorks/wire.log
/log/ConditionalRequestTests/thatConditionalPutIfNoneMatchStarWorks/error.log
/log/ConditionalRequestTests/thatConditionalPutIfNoneMatchStarWorks/wire.log
/log/DeleteObjectsTests/testDeleteObjectsByKey/wire.log
/log/DeleteObjectsTests/testDeleteObjectsContainingDotDot/wire.log
/log/DeleteObjectsTests/testDeleteObjectsWithDifferentETag/wire.log
/log/DeleteObjectsTests/testDeleteObjectsWithMatchingETag/wire.log
/log/DeleteObjectTests/testDeleteObject/wire.log
/log/DeleteObjectTests/testDeleteObjectContainingDotDot/wire.log
/log/GetObjectTests/testGetEmptyObject/wire.log
/log/GetObjectTests/testGetKeyThatDoesNotExist/wire.log
/log/GetObjectTests/testGetObject/wire.log
/log/GetObjectTests/testGetPartial/wire.log
/log/GetObjectTests/testGetPartialBeyondEnd/wire.log
/log/GetObjectTests/testGetPartialLastBytes/wire.log
/log/GetObjectTests/testGetPartialMiddleRange/wire.log
/log/GetObjectTests/testGetPartialUnsatisfiable/wire.log
/log/GetObjectTests/testGetPartialWithEndPosition/wire.log
/log/ListBucketsTests/listBucketsResponsesShouldReturnValidDateHeader/wire.log
/log/ListObjectsTests/listReturnsSameEtagAsCopyObject/wire.log
/log/ListObjectsTests/listUntilPenultimateV1ShouldIndicateTruncatedWithExistingStartAfterKey/wire.log
/log/ListObjectsTests/listUntilPenultimateV1ShouldIndicateTruncatedWithNonExistingStartAfterKey/wire.log
/log/ListObjectsTests/listUntilPenultimateV2ShouldIndicateTruncatedWithExistingStartAfterKey/wire.log
/log/ListObjectsTests/listUntilPenultimateV2ShouldIndicateTruncatedWithNonExistingStartAfterKey/wire.log
/log/ListObjectsTests/serialListObjectsV1GetsAllKeys/wire.log
/log/ListObjectsTests/serialListObjectsV2GetsAllKeys/wire.log
/log/ListObjectsTests/testList/wire.log
/log/ListObjectsTests/testListEmpty/wire.log
/log/ListObjectsTests/testListObjectsAfterKeySpaceWithSeparator/wire.log
/log/ListObjectsTests/testListObjectsV1/wire.log
/log/ListObjectsTests/testListObjectsV1EvilKeyNoUrlDecode/wire.log
/log/ListObjectsTests/testListObjectsV1EvilKeyWithUrlEncode/wire.log
/log/ListObjectsTests/testListObjectsV2/wire.log
/log/ListObjectsTests/testListObjectsV2EvilKeyNoUrlEncode/wire.log
/log/ListObjectsTests/testListObjectsV2EvilKeyWithUrlEncode/wire.log
/log/ListObjectsTests/testListObjectsWithMarkerAfterPrefix/wire.log
/log/ListObjectsTests/testListObjectsWithMarkerBeforePrefix/wire.log
/log/ListObjectsTests/thatServerSortsInUtf8Binary/wire.log
/log/MultiPartUploadTests/thatMultipartRetrievesOriginalParts/wire.log
/log/ObjectKeyTests/testCodePointMinIsAccepted/wire.log
/log/ObjectKeyTests/testKeyNamesWithHighCodePointsAreAccepted/wire.log
/log/ObjectKeyTests/testNullIsRejected/wire.log
/log/ObjectKeyTests/testOverlongEncodingsAreRejected/wire.log
/log/ObjectKeyTests/testOverlongNullIsRejected/wire.log
/log/ObjectKeyTests/testSimpleObjectKeySigning/wire.log
/log/ObjectKeyTests/testSurrogatePairsAreRejected/wire.log
/log/ObjectKeyTests/testThatServerDoesNotNormalizeCodePoints/wire.log
/log/ObjectKeyTests/thatPathLikeKeysDontCreateDirectoryObjects/wire.log
/log/ObjectKeyTests/thatServerSortsNullInUtf8Order/wire.log
/log/PrefixDelimiterTests/testMorePrefixesThanMaxKeys/wire.log
/log/PrefixDelimiterTests/testNullPrefix/wire.log
/log/PrefixDelimiterTests/testPrefixMatchingObjectKey/wire.log
/log/PrefixDelimiterTests/testPrefixOnly/wire.log
/log/PrefixDelimiterTests/testSimple/wire.log
/log/PrefixDelimiterTests/testSingleObjectIsReportedAsCommonPrefix/wire.log
/log/PrefixDelimiterTests/testSlashPrefix/wire.log
/log/PrefixDelimiterTests/testTruncatedPrefix/wire.log
/log/PutObjectTests/canSetContentTypeOnEmptyObjectWithKeyContainingTrailingSlash/wire.log
/log/PutObjectTests/testPutEmptyObject/error.log
/log/PutObjectTests/testPutEmptyObject/wire.log
/log/PutObjectTests/testPutObject/wire.log
/log/PutObjectTests/thatPutObjectCanUpdate/wire.log
/log/PutObjectTests/thatServerAcceptsArbitraryContentEncoding/wire.log
/log/PutObjectTests/thatServerAcceptsContentEncodingGzip/wire.log
/log/PutObjectTests/thatUpdateDataUsingPutObjectAffectsLastModifiedTime/wire.log
/log/PutObjectTests/thatUpdateMetadataUsingPutObjectAffectsLastModifiedTime/wire.log
/build/classes/java/main/com/datadobi/s3test/http/ContentRange.class
/build/classes/java/main/com/datadobi/s3test/http/Range.class
/build/classes/java/main/com/datadobi/s3test/http/RangeSpec.class
/build/classes/java/main/com/datadobi/s3test/s3/AddressingStyle.class
/build/classes/java/main/com/datadobi/s3test/s3/AutoValue_ServiceDefinition$Builder.class
/build/classes/java/main/com/datadobi/s3test/s3/AutoValue_ServiceDefinition.class
/build/classes/java/main/com/datadobi/s3test/s3/Config.class
/build/classes/java/main/com/datadobi/s3test/s3/NoChunkedForEmptyPutInterceptor.class
/build/classes/java/main/com/datadobi/s3test/s3/Quirk.class
/build/classes/java/main/com/datadobi/s3test/s3/S3$ListObjectsVersion.class
/build/classes/java/main/com/datadobi/s3test/s3/S3.class
/build/classes/java/main/com/datadobi/s3test/s3/S3Bucket.class
/build/classes/java/main/com/datadobi/s3test/s3/S3ClientOption.class
/build/classes/java/main/com/datadobi/s3test/s3/S3Error.class
/build/classes/java/main/com/datadobi/s3test/s3/S3TestBase$1.class
/build/classes/java/main/com/datadobi/s3test/s3/S3TestBase.class
/build/classes/java/main/com/datadobi/s3test/s3/ServiceDefinition$Builder.class
/build/classes/java/main/com/datadobi/s3test/s3/ServiceDefinition.class
/build/classes/java/main/com/datadobi/s3test/s3/WireLogger.class
/build/classes/java/main/com/datadobi/s3test/util/DummyInputStream.class
/build/classes/java/main/com/datadobi/s3test/util/InvalidUtf8Encoder.class
/build/classes/java/main/com/datadobi/s3test/util/Pair.class
/build/classes/java/main/com/datadobi/s3test/util/SupplierThatThrows.class
/build/classes/java/main/com/datadobi/s3test/util/SystemPropertyOption.class
/build/classes/java/main/com/datadobi/s3test/util/SystemPropertyUtil.class
/build/classes/java/main/com/datadobi/s3test/util/TLS$DummyX509TrustManager.class
/build/classes/java/main/com/datadobi/s3test/util/TLS$EnableAllCiphersSSLSocketFactory.class
/build/classes/java/main/com/datadobi/s3test/util/TLS.class
/build/classes/java/main/com/datadobi/s3test/util/Utf8TestConstants.class
/build/classes/java/main/com/datadobi/s3test/ChecksumTests$1.class
/build/classes/java/main/com/datadobi/s3test/ChecksumTests.class
/build/classes/java/main/com/datadobi/s3test/ClearBucket.class
/build/classes/java/main/com/datadobi/s3test/ConditionalRequestTests.class
/build/classes/java/main/com/datadobi/s3test/DeleteObjectsTests.class
/build/classes/java/main/com/datadobi/s3test/DeleteObjectTests.class
/build/classes/java/main/com/datadobi/s3test/GetObjectTests.class
/build/classes/java/main/com/datadobi/s3test/ListBucketsTests.class
/build/classes/java/main/com/datadobi/s3test/ListObjectsTests.class
/build/classes/java/main/com/datadobi/s3test/MultiPartUploadTests.class
/build/classes/java/main/com/datadobi/s3test/ObjectKeyTests.class
/build/classes/java/main/com/datadobi/s3test/PrefixDelimiterTests.class
/build/classes/java/main/com/datadobi/s3test/PutObjectTests.class
/build/classes/java/main/com/datadobi/s3test/RunTests$1.class
/build/classes/java/main/com/datadobi/s3test/RunTests$TextListener.class
/build/classes/java/main/com/datadobi/s3test/RunTests.class
/build/reports/checkstyle/main.html
/build/reports/checkstyle/main.xml
/build/reports/problems/problems-report.html
/build/tmp/compileJava/compileTransaction/stash-dir/AutoValue_ServiceDefinition$Builder.class.uniqueId5
/build/tmp/compileJava/compileTransaction/stash-dir/AutoValue_ServiceDefinition.class.uniqueId20
/build/tmp/compileJava/compileTransaction/stash-dir/AutoValue_ServiceDefinition.java.uniqueId18
/build/tmp/compileJava/compileTransaction/stash-dir/ChecksumTests$1.class.uniqueId17
/build/tmp/compileJava/compileTransaction/stash-dir/ChecksumTests.class.uniqueId10
/build/tmp/compileJava/compileTransaction/stash-dir/ClearBucket.class.uniqueId11
/build/tmp/compileJava/compileTransaction/stash-dir/ConditionalRequestTests.class.uniqueId25
/build/tmp/compileJava/compileTransaction/stash-dir/DeleteObjectsTests.class.uniqueId8
/build/tmp/compileJava/compileTransaction/stash-dir/DeleteObjectTests.class.uniqueId6
/build/tmp/compileJava/compileTransaction/stash-dir/GetObjectTests.class.uniqueId16
/build/tmp/compileJava/compileTransaction/stash-dir/ListBucketsTests.class.uniqueId12
/build/tmp/compileJava/compileTransaction/stash-dir/ListObjectsTests.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/MultiPartUploadTests.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/ObjectKeyTests.class.uniqueId22
/build/tmp/compileJava/compileTransaction/stash-dir/PrefixDelimiterTests.class.uniqueId13
/build/tmp/compileJava/compileTransaction/stash-dir/PutObjectTests.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/RunTests$1.class.uniqueId9
/build/tmp/compileJava/compileTransaction/stash-dir/RunTests$2.class.uniqueId26
/build/tmp/compileJava/compileTransaction/stash-dir/RunTests$Logging.class.uniqueId21
/build/tmp/compileJava/compileTransaction/stash-dir/RunTests$TextListener.class.uniqueId28
/build/tmp/compileJava/compileTransaction/stash-dir/RunTests.class.uniqueId3
/build/tmp/compileJava/compileTransaction/stash-dir/S3$ListObjectsVersion.class.uniqueId24
/build/tmp/compileJava/compileTransaction/stash-dir/S3.class.uniqueId14
/build/tmp/compileJava/compileTransaction/stash-dir/S3Bucket.class.uniqueId23
/build/tmp/compileJava/compileTransaction/stash-dir/S3TestBase.class.uniqueId19
/build/tmp/compileJava/compileTransaction/stash-dir/ServiceDefinition$Builder.class.uniqueId27
/build/tmp/compileJava/compileTransaction/stash-dir/ServiceDefinition$Capability.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/ServiceDefinition$Restriction.class.uniqueId7
/build/tmp/compileJava/compileTransaction/stash-dir/ServiceDefinition.class.uniqueId15
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.14/checksums/checksums.lock
/.gradle/8.14/checksums/md5-checksums.bin
/.gradle/8.14/checksums/sha1-checksums.bin
/.gradle/8.14/executionHistory/executionHistory.bin
/.gradle/8.14/executionHistory/executionHistory.lock
/.gradle/8.14/fileChanges/last-build.bin
/.gradle/8.14/fileHashes/fileHashes.bin
/.gradle/8.14/fileHashes/fileHashes.lock
/.gradle/8.14/fileHashes/resourceHashesCache.bin
/.gradle/8.14/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
